<div style="padding: 50px; color: #000000;">
	
	<!-- <p style="line-height: 150%; margin-bottom: 0.28cm; border: none; padding: 0cm">
		<b>INFORMATIVA PER IL TRATTAMENTO DEI DATI PERSONALI RACCOLTI DURANTE LA NAVIGAZIONE DEGLI UTENTI NEI PORTALI ISTITUZIONALI</b>
	</p>

	<p align="justify">
		In questo documento sono descritte le regole di gestione della Piattaforma PAF realizzata nell’ambito del progetto LIFE19 GIE/IT/000311 - LIFE FOLIAGE.
	</p> -->


	<h1 class="paragraph-P14-titolo"><span class="text-T10">Informativa per il trattamento dei dati personali raccolti durante
			la navigazione degli utenti nei portali istituzionali </span></h1>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">In questo documento sono descritte le regole di gestione della
			Piattaforma PAF realizzata nell’ambito del progetto LIFE19 GIE/IT/000311 - LIFE FOLIAGE.</span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P15"><span class="text-T12">La piattaforma amministrativa delle foreste (PAF) è l’hub dei
			procedimenti amministrativi degli interventi di taglio boschivo e della pianificazione forestale. Sono
			gestite dalla PAF tutte le istanze forestali: comunicazione di taglio boschivo, diradamento, conversione di
			forma di governo, progetti di taglio boschivo, piani di assestamento forestale e qualsiasi altra istanza in
			cui sia progettato o richiesto il taglio di soprassuoli forestali. </span></p>
	<p class="paragraph-P10"> </p>
	<p class="paragraph-P15"><span class="text-T12">Gli utenti della PAF sono i proprietari/gestori forestali, i liberi
			professionisti, la pubblica amministrazione con profili di vario grado per i fini istruttori e
			amministrativi delle istanze presentate.</span></p>
	<p class="paragraph-P10"> </p>
	<p class="paragraph-P22"><span class="text-T12">I soggetti interessati dal trattamento dati personali sono:</span>
	</p>
	<ul>
		<li>
			<p class="P4" style="margin-left:0.884cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T8">Proprietari o
					titolari di soprassuoli forestali o immobili oggetto di istanze di gestione forestale e interventi
					connessi relative al territorio della regione Umbria  </span> </p>
		</li>
		<li>
			<p class="P4" style="margin-left:0.884cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T8">Titolari di
					incarichi tecnici di progettazione e/o gestione forestale</span> </p>
		</li>
		<li>
			<p class="P4" style="margin-left:0.884cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T8">Titolari di ditte
					forestali regolarmente autorizzate.</span> </p>
		</li>
		<li>
			<p class="P4" style="margin-left:0.884cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T8">Funzionari
					regionali con abilitazione all’istruttoria e amministrazione delle istanze presentate</span> </p>
		</li>
	</ul>
	<p class="paragraph-P10"> </p>
	<p class="paragraph-P10"> </p>
	<p class="paragraph-P15"><span class="text-T12">L’accesso alla PAF richiede la disponibilità di un profilo del
			Sistema Pubblico di Identità Digitale (SPID). Gli identificativi dell’utente forniti dall’identità digitale
			SPID sono quindi associati al profilo base di accesso.</span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">Le procedure di amministrazione forestale gestite dalla Piattaforma
			PAF sono costituite dalla gestione delle istanze di interventi in ambiti forestali (istanze di taglio e
			interventi accessori) ai sensi delle normative forestali regionali dell’Umbria (</span><span
			class="text-T12">Legge regionale 19 novembre 2001 n. 28 e Regolamento attuativo 17 dicembre 2002 n. 7, come
			modificato dal Regolamento regionale 16 luglio 2012 n. 11 ed integrato dalla DGR 1093/2021)</span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">Il soggetto gestore d</span><span class="text-T12">elle istanze
			autorizzative forestali </span><span class="text-T12">per conto di Regione Umbria (in b</span><span
			class="text-T12">ase alla LR 10/2015 e s.m. e int.) </span><span class="text-T12">è AFOR Umbria - Agenzia
			Forestale Regionale, che ai fini della presente informativa è identificato come uno degli autonomi titolari
			del trattamento dati con funzionari abilitati a profili di istruttoria tecnica e amministrativa.</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">Il Titolare trattamento dati Regione Umbria si avvale delle attività
			del partner ALMAVIVA s.p.a. per le funzioni di Responsabile trattamento dati</span><span class="text-T12">
		</span><span class="text-T12">fino alla conclusione del progetto. Il trattamento dati descritto nella presente
			informativa riguarda le attività previste dall’accordo di Partenariato previste dal progetto LIFE19
			GIE/IT/000311 - LIFE FOLIAGE a carico della società ALMAVIVA s.p.a. nell’ambito territoriale della Regione
			Umbria con riferimento al trattamento dei dati personali degli utenti che li consultano e li utilizzano.
		</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">L'informativa è resa a coloro che interagiscono con i servizi web
			delle piattaforme PAF accessibili per via telematica a partire dall'indirizzo corrispondente alla pagina
			iniziale del portale:</span></p>

	<p class="paragraph-P14"><a href="https://portal.foliage.eu/foliage/umbria" class="text-Internet_20_link"><span
				class="text-Internet_20_Link">https://portal.foliage.eu/foliage/umbria</span></a></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">Le funzioni di trattamento dei dati personali da parte del partner
			del Progetto LIFE FOLIAGE produttore dei sistemi ALMAVIVA s.p.a. è stato subordinato alla sottoscrizione di
			specifici atti di accordo con Regione Umbria ai sensi della normativa regionale che specifica le modalità di
			applicazione della tutela privacy </span><span class="text-T12">(</span><span class="text-T12">DGR n. 1185
			del 09/12/2020 </span><span class="text-T12">- </span><span class="text-T12">Direttive in materia di
			trattamento dei dati personali – approvazione disciplinare privacy e linee guida ai sensi del Reg. UE n.
			679/2016 e del d.lgs. 196/2003). </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">La Regione Umbria si impegna a rispettare e a proteggere la
			riservatezza degli utenti trattando i dati personali dagli stessi forniti nel rispetto delle disposizioni
			normative atte a garantire la sicurezza, l'esattezza, l'aggiornamento e la pertinenza dei dati rispetto alle
			finalità dichiarate. </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">Ai sensi dell'art. 13 Reg. (UE) 2016/679 </span><span
			class="text-T13">Regolamento del Parlamento europeo relativo alla protezione delle persone fisiche con
			riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati e che abroga la
			direttiva 95/46/CE </span><span class="text-T12">(regolamento generale sulla protezione dei dati - GDPR) si
			forniscono le seguenti informazioni in relazione al trattamento dei dati personali ai fini dell'esercizio
			delle funzioni, connesse e strumentali, alla consultazione e utilizzazione del portale istituzionale.
		</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">Lo scopo della presente informativa è fornire in maniera trasparente
			notizie sui dati raccolti e sul le relative modalità di utilizzo. </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">L'informativa è redatta a norma del Regolamento (UE) 2016/679 del
			Parlamento e del Consiglio Europeo relativo alla protezione delle persone fisiche con riguardo al
			trattamento dei dati personali, nonché alla libera circolazione di tali dati (“GDPR”) che garantisce che il
			trattamento dei dati personali si svolga nel rispetto dei diritti e delle libertà fondamentali delle persone
			fisiche, con particolare riferimento alla riservatezza ed al diritto di protezione dei dati personali</span>
	</p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">I dati personali forniti dagli utenti che inoltrano richieste sono
			utilizzati al solo fine di dare esecuzione alla richiesta di volta in volta inoltrata, e sono comunicati a
			terzi nel solo caso in cui ciò sia strettamente necessario e funzionale a tale finalità, nel rispetto delle
			specifiche informative rese ai sensi delle norme vigenti. I dati sono trattati da personale appositamente
			incaricato al trattamento dei dati, solo qualora il trattamento sia necessario allo svolgimento delle
			mansioni assegnate. </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T10">Finalità</span></p>

	<p class="paragraph-P23"><span class="text-T12">I dati sono raccolti per la finalità di ricezione istanze di
			autorizzazione e comunicazione di interventi forestali, istruttoria e monitoraggio degli esiti in accordo
			con gli obiettivi del progetto LIFE19 GIE/IT/000311 - LIFE FOLIAGE nell’ambito territoriale della Regione
			Umbria.</span></p>

	<p class="paragraph-P23"><span class="text-T12">Le procedure di comunicazione, autorizzazione e monitoraggio di
			interventi forestali gestite dalla Piattaforme PAF e PRIF sono costituite dalla gestione delle istanze di
			interventi in ambiti forestali (istanze di taglio e interventi accessori soggetti a regime normativo di
			comunicazione e/o autorizzazione ) ai sensi delle normative forestali regionali dell’Umbria (Legge regionale
			19 novembre 2001 n. 28 e Regolamento attuativo 17 dicembre 2002 n. 7, come modificato dal Regolamento
			regionale 16 luglio 2012 n. 11 ed integrato dalla DGR 1093/2021). </span></p>

	<p class="paragraph-P23"><span class="text-T12">La ricezione e le istruttorie amministrative connesse alle istanze
			sopra citate sono svolte dalla Regione Umbra (in base alla LR 10/2015 e s.m. e int.) mediante l’ente
			attuatore AFOR - Agenzia Forestale Regionale, che ai fini della presente informativa è identificato come uno
			degli autonomi titolari del trattamento dati.</span></p>

	<p class="paragraph-P23"><span class="text-T12">I dati acquisiti sono trattati in modo compatibile con le finalità
			sopra indicate ed ulteriormente gestiti a fini di archiviazione nel pubblico interesse, di ricerca
			scientifica o storica o a fini statistici.</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Identità e dati di contatto del Titolare del trattamento e del
			legale rappresentante (art. 13, par. 1, lett. a) Reg. (UE) 2016/679) </span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">Titolare del trattamento dei dati è:</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">Regione Umbria – Giunta regionale, con sede in Corso Vannucci 96 –
			06121 Perugia; </span></p>
	<p class="paragraph-P14"><span class="text-T12">e-mail: infogiunta&commat;regione.umbria.it; </span></p>

	<p class="paragraph-P14"><span class="text-T12">pec: regione.giunta&commat;postacert.umbria.it; </span></p>

	<p class="paragraph-P14"><span class="text-T12">centralino: tel. 075.5041, </span></p>

	<p class="paragraph-P14"><span class="text-T12">nella persona del legale rappresentante, il Presidente della Giunta
			Regionale. </span></p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Dati di contatto del responsabile della protezione dei dati (art.
			13, par. 1, lett. b) Reg. (UE) </span></p>

	<p class="paragraph-P14"><span class="text-T10">2016/679) </span></p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T12">Il Titolare del Trattamento Dati REGIONE UMBRIA ha provveduto a
			nominare il Responsabile della protezione dei dati (Data Protection Officer - DPO), con sede in Palazzo
			Broletto - Via M. Angeloni 61, 06124 Perugia, all'avv. Francesco Nesta, dipendente a tempo indeterminato
			della Giunta regionale</span></p>

	<p class="paragraph-P14"><span class="text-T12">e-mail: </span><a href="mailto:dpo@regione.umbria.it"
			class="text-ListLabel_20_11"><span class="text-T19">dpo&commat;regione.umbria.it</span></a><span
			class="text-T12">;</span></p>

	<p class="paragraph-P14"><span class="text-T15">pec: direzionerisorse.regione&commat;postacert.umbria.it; tel. 075
			5045693. </span></p>

	<p class="paragraph-P14"><a href="https://www.regione.umbria.it/privacy1" class="text-ListLabel_20_12"><span
				class="text-T20">https://www.regione.umbria.it/privacy1</span></a></p>
	<p class="paragraph-P20"> </p>
	<p class="paragraph-P20"> </p>
	<p class="paragraph-P14"><span class="text-T12">Il Titolare del trattamento dati AFOR, con sede legale in Perugia,
			via P. Tuzi 7, Tel. 075/5145711, Fax 075/5008020, in persona dell’Amministratore Unico, mail
			info&commat;agenziaforestaleregionale.umbria.it, pec agenziaregionaleforestaleumbra&commat;legalmail.it
			Responsabile della protezione dei dati (RPD/DPO).</span></p>

	<p class="paragraph-P14"><span class="text-T12">A</span><span class="text-T12">i sensi dell’art. 37 del GDPR, il
			Titolare AFOR ha nominato la Fondazione Logos P.A. quale Responsabile della protezione dei dati, nella
			persona dell’Avv. Roberto Mastrofini –  Contatto: </span><a href="mailto:privacy@afor.umbria.it"
			class="text-ListLabel_20_13"><span class="text-T21">privacy&commat;afor.umbria.it</span></a></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><a
			href="https://www.afor.umbria.it/modulistica/informativa-privacy-servizi-di-gestione-territorio-e-tutela-risorse-naturali/"
			class="text-ListLabel_20_13"><span
				class="text-T21">https://www.afor.umbria.it/modulistica/informativa-privacy-servizi-di-gestione-territorio-e-tutela-risorse-naturali/</span></a>
	</p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T10">Tipi di dati trattati </span></p>
	<p class="paragraph-P11"> </p>
	<p class="paragraph-P14"><span class="text-T13">Dati acquisiti durante la navigazione </span></p>

	<p class="paragraph-P14"><span class="text-T12">I sistemi informatici e le procedure software preposte al
			funzionamento delle Piattaforme PAF e PRIF acquisiscono, nel corso del loro normale esercizio, alcuni dati
			personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet. Si tratta di
			informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa
			natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di
			identificare gli utenti.</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">In questa categoria di dati rientrano gli indirizzi IP o i nomi a
			dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI
			(</span><span class="text-T13">Uniform Resource Identifier</span><span class="text-T12">) delle risorse
			richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la
			dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal
			server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico
			dell'utente. Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime
			sull'uso del sito e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo
			l'elaborazione. I dati potrebbero essere utilizzati per l'accertamento di responsabilità in caso di
			ipotetici reati informatici ai danni del sito. </span></p>
	<p class="paragraph-P21"> </p>
	<p class="paragraph-P14"><span class="text-T13">Dati forniti obbligatoriamente dall'utente per i fini di accesso e
			conferimento profilo </span></p>

	<p class="paragraph-P14"><span class="text-T12">L’accesso alle piattaforme PAF e PRIF è previsto esclusivamente con
			la modalità SPID, che prevede obbligatoriamente la condivisione di dati personali di identificazione.</span>
	</p>
	<p class="paragraph-P21"> </p>
	<p class="paragraph-P14"><span class="text-T13">Dati forniti obbligatoriamente dall'utente per i fini di
			ricevibilità delle istanze forestali  </span></p>

	<p class="paragraph-P14"><span class="text-T12">L'invio, esplicito e obbligatorio di dati proprietari, di
			consistenza patrimoniale e forestale nonché di indirizzi di contatto postale (ed elettronico per i tecnici
			professionisti abilitati) risulta obbligatorio per i fini di ricevibilità e ammissibilità delle istanze di
			gestione forestale e comporta la successiva acquisizione dell'indirizzo del mittente, necessario alla
			ricevibilità e l’istruttoria delle istanze forestali inviate, nonché degli eventuali altri dati personali
			inseriti nelle medesime istanze, ai sensi della normativa regionale. </span></p>

	<p class="paragraph-P14"><span class="text-T12">La registrazione, esplicita e l’immissione di dati tramite apposite
			schede presenti nella PAF comporta la successiva acquisizione di tutti i dati riportati nei campi compilati
			dall'utente ed il trattamento, conformemente a quanto riportato nelle specifiche informative. Tale
			trattamento è effettuato esclusivamente in adempimento di attività istituzionali proprie dell'Ente Regione
			Umbria e di AFOR.</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">A tal fine, Il titolare di trattamento dati AFOR ha individuato i
			propri referenti e responsabili della protezione dati personali ai sensi della normativa e vigente. </span>
	</p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Base giuridica del trattamento </span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">Il trattamento dei dati personali per le finalità di cui sopra non
			richiede il consenso in quanto necessario per l'esecuzione di un compito di interesse pubblico o connesso
			all'esercizio di pubblici poteri di cui è investito il titolare del trattamento (Legge regionale 19 novembre
			2001 n. 28 e Regolamento attuativo 17 dicembre 2002 n. 7, come modificato dal Regolamento regionale 16
			luglio 2012 n. 11 ed integrato dalla DGR 1093/2021; L.R. 10/2015 e succ.m. e int.)</span></p>
	<p class="paragraph-P10"> </p>
	<p class="paragraph-P15"><span class="text-T12">La base giuridica è costituita dall'art.6 lettera e) del GDPR ovvero
			esecuzione di un compito di interesse pubblico o connesso all'esercizio di pubblici poteri di cui è
			investito il titolare del trattamento</span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Luogo del trattamento </span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">I trattamenti connessi ai servizi web delle piattaforme PAF e PRIF
			hanno luogo presso la sede della Regione Umbria - Giunta regionale o in sedi definite dalla stessa Regione
			Umbria e di AFOR, e sono curati solo da personale tecnico dell'ufficio incaricato del trattamento oppure dai
			responsabili designati dal titolare me</span><span class="text-T12">desimo</span><span class="text-T12">.
		</span></p>

	<p class="paragraph-P16"><span class="text-T12">Il trattamento dei dati personali da parte del responsabile ALMAVIVA
			S.p.A. comporta l’uso di risorse informatiche esterne con modalità codificate di trattamento dei dati utenti
			che non richiedono ulteriore autorizzazione.</span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">I dati personali forniti dagli utenti che inoltrano richieste di
			informazioni e suggerimenti sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta
			e sono eventualmente comunicati ad altre aree all'interno di Regione Umbria - Giunta Regionale o ai fini
			istruttori ed amministrativi nel solo caso in cui ciò sia necessario per obblighi di legge allo scopo di
			fornire le informazioni richieste dagli utenti. L’autorizzazione a tali impieghi è sottintesa alla
			sottoscrizione delle istanze presentate. </span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Modalità del trattamento </span></p>

	<p class="paragraph-P14"><span class="text-T12">I dati personali sono trattati per mezzo di strumenti
			informatico/telematici per le finalità espresse nelle sezioni precedenti. Tali dati sono trattati in forma
			automatizzata e raccolti in forma esclusivamente aggregata al fine di verificare il corretto funzionamento
			del portale, nonché per motivi di sicurezza. </span></p>

	<p class="paragraph-P14"><span class="text-T12">Il trattamento dei dati avviene per mezzo di strumenti e con
			modalità volte ad assicurare la riservatezza e la sicurezza dei dati, nel rispetto di quanto definito negli
			articoli 32 e seguenti del GDPR ed in conformità con la normativa nazionale vigente in materia. </span></p>

	<p class="paragraph-P14"><span class="text-T12">Specifiche misure di sicurezza sono osservate per prevenire la
			perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati. </span></p>

	<p class="paragraph-P14"><span class="text-T12">I dati personali sono trattati per il tempo strettamente necessario
			a conseguire gli scopi per cui sono stati raccolti i periodi conservazione sono vincolati alla validità
			delle istanze presentate (minimo 3 anni; conservazione per periodo di 10 anni o a tempo indeterminato per i
			fini di perseguimento di illeciti,). Specifiche misure di sicurezza sono osservate per prevenire la perdita
			dei dati, usi illeciti o non corretti ed accessi non autorizzati. </span></p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Obbligatorietà e/o facoltatività del conferimento dei dati </span>
	</p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">A parte quanto specificato per i dati di navigazione, l'utente
			fornisce </span><span class="text-T12">necessariamente i dati di identificazione contenuti nel profilo SPID
			di accesso. L’utente </span><span class="text-T12">fornisce obbligatoriamente i dati personali riportati nei
			moduli di istanza forestale previsti dalle norme forestali della Regione Umbria, di richiesta di
			informazioni e obbligatorie per l’istruttoria, la gestione amministrativa e l’esito delle istanze presentate
			alle strutture della Regione. </span></p>

	<p class="paragraph-P14"><span class="text-T12">Il loro mancato conferimento comporta la mancata finalizzazione
			delle istanze previste in termini di ricevibilit</span><span class="text-T12">à</span><span
			class="text-T12"> o ammissibilità. </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T10">Cookie Policy </span></p>

	<p class="paragraph-P14"><span class="text-T12">Il portale attraverso il quale gli Interessati interagiscono con il
			sistema FOLIAGE utilizza esclusivamente “cookie tecnici” e non utilizza: “cookie di profilazione”, “cookie
			di terze parti”.</span></p>

	<p class="paragraph-P14"><span class="text-T12">I cookie tecnici sono quelli utilizzati al solo fine di "effettuare
			la trasmissione di una comunicazione su una rete di comunicazione elettronica, o nella misura strettamente
			necessaria al fornitore di un servizio della società dell'informazione esplicitamente richiesto
			dall'abbonato o dall'utente a erogare tale servizio".</span></p>

	<p class="paragraph-P14"><span class="text-T12">I cookie tecnici utilizzati nel sistema FOLIAGE sono:</span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">WSo2 IS</span></p>
	<p class="paragraph-P18"> </p>

	<table border="0" cellspacing="0" cellpadding="0" class="table-Tabella1">
		<colgroup>
			<col width="186" />
			<col width="142" />
			<col width="240" />
			<col width="174" />
		</colgroup>
		<tr class="row-Tabella1_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T11">Nome Cookie</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T11">Tipologia</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T11">Scopo</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T11">Tempo di permanenza</span></p>
			</td>
		</tr>
		<tr class="row-Tabella1_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">JSESSIONID</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Technical Cookies</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P3"><span class="text-T12">To keep your session data in order to give you a good
						user experience.</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Session</span></p>
			</td>
		</tr>
		<tr class="row-Tabella1_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">MSGnnnnnnnnnn</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Technical Cookies</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P3"><span class="text-T12">To keep some messages that are shown to you in order to
						give you a good user experience. The “nnnnnnnnnn” reference in this cookie represents a random
						number e.g., MSG324935932.</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Session</span></p>
			</td>
		</tr>
		<tr class="row-Tabella1_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">requestedURI</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Technical Cookies</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P3"><span class="text-T12">The URI you are accessing.</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Session</span></p>
			</td>
		</tr>
		<tr class="row-Tabella1_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">current-breadcrumb</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Technical Cookies</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P3"><span class="text-T12">To keep your active page in session in order to give you
						a good user experience.</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella1_A1">
				<p class="paragraph-P2"><span class="text-T12">Session</span></p>
			</td>
		</tr>
	</table>

	<p class="paragraph-P18"> </p>
	<p class="paragraph-P25"> </p>
	<p class="paragraph-P14"><span class="text-T12">Web Application Firewall (WAF)</span></p>
	<p class="paragraph-P25"> </p>

	<table border="0" cellspacing="0" cellpadding="0" class="table-Tabella2">
		<colgroup>
			<col width="186" />
			<col width="142" />
			<col width="240" />
			<col width="174" />
		</colgroup>
		<tr class="row-Tabella2_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T11">Nome Cookie</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T11">Tipologia</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T11">Scopo</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T11">Tempo di permanenza</span></p>
			</td>
		</tr>
		<tr class="row-Tabella2_1">
			<td style="text-align:left;width:4.246cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T12">cookiesession1</span></p>
			</td>
			<td style="text-align:left;width:3.246cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T12">Technical Cookies</span></p>
			</td>
			<td style="text-align:left;width:5.502cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P3"><span class="text-T12">This cookie is set by the Fortinet firewall. This cookie
						is used for protecting the website from abuse.</span></p>
			</td>
			<td style="text-align:left;width:3.988cm; " class="cell-Tabella2_A1">
				<p class="paragraph-P2"><span class="text-T12">One Year</span></p>
			</td>
		</tr>
	</table>

	<p class="paragraph-P25"> </p>
	<p class="paragraph-P25"> </p>
	<p class="paragraph-P14"><span class="text-T12"> </span></p>

	<p class="paragraph-P14"><span class="text-T10">Collegamenti (</span><span class="text-T14">link</span><span
			class="text-T10">) a siti esterni </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">Le Piattaforme PAF e PRIF non contengono collegamenti ipertestuali
			(</span><span class="text-T13">link</span><span class="text-T12">), cioè strumenti che consentono il
			collegamento a pagine web di altri siti, a parte i link di collegamento a siti degli enti istituzionalmente
			preposti alla gestione forestale.</span></p>

	<p class="paragraph-P14"><span class="text-T12">La presente informativa, pertanto, è resa solo per i siti della
			Regione Umbria e non anche per altri siti web eventualmente consultati dall'utente tramite </span><span
			class="text-T13">link</span><span class="text-T12">. </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T10">Diritti dell'interessato (art. 13, par. 2, lett. b) e d) Reg. (UE)
			2016/679). </span></p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">All'interessato sono riconosciuti i diritti previsti dagli artt. 15
			e seguenti del Regolamento UE 2016/679, che potrà esercitare nei confronti della Regione Umbria ed in
			particolare: </span></p>

	<p class="paragraph-P14"><span class="text-T12">diritto di ottenere dal Titolare del trattamento la conferma che sia
			o meno in corso un trattamento di dati personali che lo riguardano e, in tal caso, di ottenere l'accesso ai
			dati personali e alle informazioni previste dall'art. 15 del GDPR ed in particolare a quelle relative alle
			finalità del trattamento, alle categorie di dati personali in questione, ai destinatari o categorie di
			destinatari a cui i dati personali sono stati o saranno comunicati, al periodo di conservazione, etc.;
		</span></p>

	<p class="paragraph-P14"><span class="text-T12">diritto di ottenere, laddove inesatti, la rettifica dei dati
			personali che lo riguardano, nonché </span></p>

	<p class="paragraph-P14"><span class="text-T12">l'integrazione degli stessi laddove ritenuti incompleti sempre in
			relazione alle finalità del trattamento (art. 16); </span></p>

	<p class="paragraph-P14"><span class="text-T12">diritto di cancellazione dei dati (c.d. diritto all'oblio), laddove
			ricorra una delle fattispecie di </span></p>

	<p class="paragraph-P14"><span class="text-T12">cui all'art. 17; </span></p>

	<p class="paragraph-P14"><span class="text-T12">diritto di limitazione del trattamento, nei casi previsti dall'art.
			18; </span></p>

	<p class="paragraph-P14"><span class="text-T12">diritto di portabilità dei dati ai sensi dell'art. 20; </span></p>

	<p class="paragraph-P14"><span class="text-T12">diritto di opposizione al trattamento ai sensi dell'art. 21. </span>
	</p>
	<p class="paragraph-P9"> </p>
	<p class="paragraph-P14"><span class="text-T12">Tali diritti potranno essere esercitati rivolgendo la richiesta alla
			Regione Umbria oppure al</span><span class="text-T12"> </span><span class="text-T12">Responsabile per la
			protezione dei dati (Data Protection Officer – DPO). </span></p>

	<p class="paragraph-P14"><span class="text-T12">Si informa che gli interessati, ricorrendo i presupposti, possono
			proporre un eventuale reclamo all'Autorità di Controllo Italiana - Garante per la protezione dei dati
			personali - Piazza di Montecitorio n. 121 – 00186 Roma. </span></p>
	<p class="paragraph-P19"> </p>
	<p class="paragraph-P14"><span class="text-T10">Trasferimento dei dati personali a Paesi extra Ue o a Organizzazioni
			internazionali (art. 13, par. 1, lett. f) Reg. (UE) 2016/679) </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">I dati non saranno oggetto di trasferimento verso Paesi extra Ue o
			Organizzazioni internazionali. </span></p>

	<p class="paragraph-P14"><span class="text-T12">Alcuni fornitori terzi sono utilizzati dai partner di progetto per
			la fornitura di servizi cloud di housing dei sistemi. </span><span class="text-T12">T</span><span
			class="text-T12">ale forma di gestione prevede la definizione e accettazione della modalità di gestione dati
			del fornitore esterno, secondo accordi di servizio ai sensi dell’art. 28 del Regolamento. Una copia delle
			garanzie poste in essere può essere richiesta in qualsiasi momento, scrivendo a
			dpo&commat;regione.umbria.it. </span></p>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T12">I dati oggetto di attività di trattamento, se conservati e trattati
			in server presenti nell’area europea e soggetti a trasferimento dei dati verso paesi extra SEE, rispondono
			alle garanzie previste dal Capo V del GDPR ovvero </span></p>
	<ul>
		<li>
			<p class="P5" style="margin-left:1.27cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T12">le clausole
					contrattuali standard di cui alla Decisione della Commissione europea n. 2010/87/UE </span> </p>
		</li>
		<li>
			<p class="P5" style="margin-left:1.27cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T12">le Linee guida
					EDPB n. 07/2020 relative ai “concetti di Titolare (controller) e di Responsabile (processor) del
					trattamento dei dati personali previsto dal Reg. UE 679/2016 - GDPR” - Version 1.0 Adottata il 02
					settembre 2020 </span> </p>
		</li>
		<li>
			<p class="P6" style="margin-left:1.27cm;"><span class="ListLabel_20_1"
					style="display:block;float:left;min-width:0.635cm;">-</span><span class="text-T12">le
					Raccomandazioni EDPB n. 01/2020 sulle “misure che integrano gli strumenti di trasferimento per
					garantire la conformità il livello di protezione dei dati personali dell'UE” – Adottate il 10
					novembre 2020 </span> </p>
		</li>
	</ul>
	<p class="paragraph-P18"> </p>
	<p class="paragraph-P14"><span class="text-T10">Dati soggetti a processi decisionali automatizzati (art. 13, par. 2,
			lett. f) Reg. (UE) 2016/679) </span></p>
	<p class="paragraph-P8"> </p>
	<p class="paragraph-P24"><span class="text-T12">I dati conferiti non sono soggetti a processi decisionali
			automatizzati</span></p>
</div>