<div style="padding: 50px; color: #000000;">
	<p>
		<b>PRIF - Applicazione di rilievo forestale</b>
	</p>
	<p>
		<br />

	</p>
	<p>
		<b>Credits</b>
	</p>
	<p>
		<br />

	</p>
	<p>
		La piattaforma di rilievo forestale (PRIF) è un sottosistema del sistema PAF realizzato in tecnologia Mobile per
		Android, il cui uso è facoltativo e di supporto alla PAF (Piattaforma Amministrativa delle Foreste). Essa offre
		funzionalità a supporto dell'utente per registrare ulteriori informazioni rilevate direttamente in campo per la
		compilazione delle istanze di taglio o intervento forestale.
		All'interno della PAF. Sono gestite dalla PAF tutte le istanze forestali:
	</p>
	<p>
		comunicazione di taglio boschivo, diradamento, conversione di forma di governo, progetti di taglio
	</p>
	<p>
		boschivo, piani di assestamento forestale e qualsiasi altra istanza in cui sia progettato o richiesto il taglio
		di soprassuoli forestali.
	</p>
	<p>
		Gli utenti della PAF sono i proprietari/gestori forestali, i liberi professionisti, le forze dell'ordine, la
		pubblica amministrazione e gli altri enti coinvolti nel rilascio di nulla osta.
	</p>
	<p>
		La PRIF è uno dei risultati di LIFE FOLIAGE
		<b> (https://www.lifefoliage.eu)</b>,
		progetto cofinanziato dall'Unione
	</p>
	<p>Europea (LIFE19 GIE/IT/000311).</p>
	<p>
		<br />
		<br />
	</p>
	<p>
		PRIF ( or FSP-Forest Survey Platform-) is a result of the LIFE FOLIAGE project.
		FOLIAGE has received funding from the European Union under grant agreement LIFE19 GIE/IT/000311.</p>
	<p>
		<br />
		<br />

	</p>
	<p>
		<br />
		<br />

	</p>
	<div>
		<p>
			<font color="#000000">
				<font size="2" style="font-size: 9pt">
					FOLIAGE PAF -Informativa sul trattamento dei dati personali
				</font>
			</font>
			<font color="#222222">
				<font face="Arial Narrow, serif">
					<font size="2" style="font-size: 9pt">
						ai sensi del Reg. UE n. 679/2016 e del d.lgs. 196/2003 - Bozza
					</font>
				</font>
			</font>
		</p>
	</div>
</div>