<div style="padding: 50px; color: #000000;">
	<p align="center" class="titolo">
		<font color="#000000">
			<font face="Calibri, serif">
				<b>
				@if (this.regione == 'LAZIO')
				{
					Il sistema per la Regione Lazio sarà disponibile agli utenti dopo che sarà completato il processo di raggiungimento della conformità alle normative vigenti (GDPR) necessario per l’utilizzo della PAF da parte delle provincie.
				}
				@else {
					Informativa sulla privacy non presente
				}
				</b>
			</font>
		</font>
	</p>
</div>