<div style="padding: 50px; color: #000000;">
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="4" style="font-size: 16pt"><b>Regione
				Umbria </b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Servizio
				Foreste, montagna, sistemi naturalistici e Faunistica-venatoria</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>dott.
				For. Francesco Grohmann</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Via
				Mario Angeloni, 61 - 06124 Perugia</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>direzioneagricoltura.regione&commat;postacert.umbria.it</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>link
				portale regionale </b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font color="#0563c1"><u><a href="https://www.regione.umbria.it/agricoltura/foreste">
					<font size="2" style="font-size: 9pt"><b>https://www.regione.umbria.it/agricoltura/foreste</b>
					</font>
				</a></u></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Sezione
				Sviluppo delle funzioni socio economiche delle foreste e
				valorizzazione del territorio rurale</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>dott.ssa
				Agr. Francesca Crea</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Via
				Mario Angeloni, 61 - 06124 Perugia</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Tel.
				Tel. 075 5045163</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Fax
				075 5045565</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>fcrea&commat;regione.umbria.it</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>direzioneagricoltura.regione&commat;postacert.umbria.it</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="4" style="font-size: 16pt"><b>AFOR</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>Via
				Pietro Tuzi, 7</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>06128
				Perugia (PG)</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>+39 075 5145711</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>+39 075 5008020</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>info&commat;afor.umbria.it</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font color="#0563c1"><u><a href="mailto:agenziaregionaleforestaleumbra@legalmail.it">
					<font size="2" style="font-size: 9pt"><b>agenziaregionaleforestaleumbra&commat;legalmail.it</b></font>
				</a></u></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>p.iva
				03304640547</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>codice fiscale 94143220542</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font size="2" style="font-size: 9pt"><b>link
				AFOR</b></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm">
		<font color="#0563c1"><u><a href="https://www.afor.umbria.it/">https://www.afor.umbria.it/</a></u></font>
	</p>
	<p align="justify" style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p style="line-height: 108%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
</div>