<div style="padding: 50px; color: #000000;">
	<p>
		<b>Applicazione PRIF - NOTE LEGALI</b>
	</p>
	<p align="justify">
		La Regione Umbria rende disponibile il Portale PAF e l'applicazione
		PRIF allo scopo di fornire agli utenti proprietari forestali, tecnici
		forestali e funzionari dell'agenzia forestale regionale strumenti
		di gestione delle istanze amministrative forestali, e funzionalità a
		supporto dell'utente per registrare ulteriori informazioni rilevate
		direttamente in campo per la compilazione delle istanze di taglio o
		intervento forestale.
	</p>
	<p align="justify">
		coerente con gli obiettivi articolati del progetto LIFE FOLIAGE.
	</p>
	<p align="justify">
		Il Portale PAF ed i servizi in esso disponibili e l'applicazione
		PRIF sono gestiti da ALMAVIVA spa, partner tecnologico del progetto e
		individuato come responsabile del trattamento dei dati personali.
	</p>
	<p>
		<b>COPYRIGHT</b>
	</p>
	<p>
		La PRIF e la PAF sono dei risultati di LIFE
		FOLIAGE&nbsp;(https://www.lifefoliage.eu), progetto cofinanziato
		dall'Unione Europea (LIFE19 GIE/IT/000311). sono applicate le
		modalità di tutela del diritto d'autore previste dal programma
		LIFE nello specifico caso applicativo.
	</p>
	<p>
		<b>ACCESSO A SITI ESTERNI COLLEGATI</b>
	</p>
	<p align="justify">
		La Regione Umbria non ha alcuna responsabilità per quanto riguarda i
		siti ai quali è possibile accedere tramite i collegamenti posti
		all'interno del sito stesso, forniti come semplice servizio agli
		utenti della rete. Il fatto che il Portale PAF e l'applicazione
		PRIF forniscano tali collegamenti non implica necessariamente
		l'approvazione dei siti stessi, sulla cui qualità, contenuti e
		grafica si declina ogni responsabilità. Inoltre non si offre alcuna
		assicurazione su eventuale software presente su questi siti esterni e
		non può quindi garantirne qualità, sicurezza e compatibilità con i
		sistemi in uso.
	</p>
	<p>
		<b>DATI DI NAVIGAZIONE</b>
	</p>
	<p align="justify">
		I sistemi informatici e le procedure software preposte al
		funzionamento della PAF e della PRIF possono eventualmente acquisire,
		nel corso del loro normale esercizio, alcuni dati personali la cui
		trasmissione è implicita nell'uso dei protocolli di comunicazione di
		Internet. Si tratta di informazioni che non sono raccolte per essere
		associate a interessati identificati, ma che per loro stessa natura
		potrebbero, attraverso elaborazioni ed associazioni con dati detenuti
		da terzi, permettere di identificare gli utenti. In questa categoria
		di dati rientrano gli indirizzi IP o i nomi a dominio dei computer
		utilizzati dagli utenti che si connettono al sito, gli indirizzi in
		notazione URI (<i>Uniform Resource Identifier</i>) delle risorse
		richieste, l'orario della richiesta, il metodo utilizzato nel
		sottoporre la richiesta al server, la dimensione del file ottenuto in
		risposta, il codice numerico indicante lo stato della risposta data
		dal server (buon fine, errore, ecc.) ed altri parametri relativi al
		sistema operativo e all'ambiente informatico dell'utente. Questi dati
		vengono utilizzati al solo fine di ricavare informazioni statistiche
		anonime sull'uso del sito e per controllarne il corretto
		funzionamento e sono conservati per i tempi definiti dalla normativa
		legale di riferimento. I dati potrebbero essere utilizzati per
		l'accertamento di responsabilità in caso di ipotetici reati
		informatici ai danni del sito.
	</p>
	<p>
		<b>DOWNLOAD</b>
	</p>
	<p align="justify">
		Gli oggetti eventualmente presenti in questo sito per il download
		quali ad esempio documentazione tecnica, modulistica, etc. sono
		disponibili gratuitamente e liberamente per gli utenti autorizzati.
		Regione Umbria e AFOR si ritengono esplicitamente sollevate da
		qualsiasi responsabilità in merito ad usi illeciti dei materiali
		documentali forniti a norma di legge per esigenze di gestione istanze
		forestali.
	</p>
	<p align="justify">
		La Regione Umbria, salvo diverse indicazioni di legge, non potrà
		essere ritenuta in alcun modo responsabile dei danni di qualsiasi
		natura causati direttamente o indirettamente dall’accesso al sito,
		dall'incapacità o impossibilità di accedervi o di effettuare
		download di dati e documenti. La Regione Umbria si riserva il diritto
		di modificare i contenuti del sito e di queste note in qualsiasi
		momento e senza alcun preavviso.
	</p>
	<p align="justify">
		Eventuali collegamenti a siti esterni, indicati nel sito o
		nell'applicazione, sono forniti come semplice servizio agli utenti,
		con esclusione di ogni responsabilità sulla correttezza e sulla
		completezza dell'insieme dei collegamenti indicati.
	</p>
	<p align="justify">
		Eventuali anomalie possono essere segnalate inviando una email
		attraverso l'apposito modulo delle segnalazioni disponibile in Info
		e contatti
	</p>
	<div title="footer">
		<p>
			<font color="#000000">
				<font size="2">FOLIAGE
					PAF e PRIF - Note legali </font>
			</font>
			<font color="#222222">
				<font face="Arial Narrow, serif">
					<font size="2">
					</font>
				</font>
			</font>
			<font color="#222222">
				<font face="Arial Narrow, serif">
					<font size="2">ver.4
						- gen 2025</font>
				</font>
			</font>
		</p>
	</div>
</div>
