<div style="display: flex; font-size: small; background-color: azure;" *ngIf="this.model">
	<div *ngFor="let node of this.model.nodes">
		<button class="btn pulsante" style="font-size: small; padding: 5px; font-weight: bold" (click)="this.goTo(node.url)" [title]="node.title??''">
			@if (node.icon) {
				<i [class]="node.icon"></i>
			}
			@if (node.label) {
				{{node.label}}
			}
		</button>{{"/"}}
	</div>
	<div style="padding: 5px;">
		<div>
			@if (this.model.icon) {
				<i [class]="this.model.icon"></i>
			}
			{{this.model.label}}
		</div>
	</div>
</div>
