<div class="global-container" id="wrapper">
	<div style="margin-left:20px;margin-right:20px;margin-top:2rem">
		@switch (regione) {
			@case ("LAZIO") {
				<app-privacy_no/>
			}
			@case ("UMBRIA") {
				<app-privacy_v2/>
			}
		}
		@if (this.showButtons) {
			<div style="margin:20px 0px">
				<div>Cliccando sul tasto CONTINUA si dichiara di aver letto il documento presente in questa pagina e di aver preso visione delle condizioni riportate</div>
				<div style="display: flex;justify-content: center; gap: 15px;">
					<button id="tastoDanger" (click)="logout()" class="btn btn-primary">Esci</button>
					<button (click)="setFlagAccettazione()" class="btn btn-primary">Continua</button>
				</div>
			</div>
		}
	</div>
</div>