<div style="padding: 50px; color: #000000;">
	<p style="line-height: 150%; margin-bottom: 0.28cm"><span style="text-decoration: none">Piattaforma</span>
		Amministrativa delle Foreste</p>
	<p style="line-height: 150%; margin-bottom: 0.28cm">La piattaforma
		amministrativa delle foreste (PAF) è l’hub dei procedimenti
		amministrativi degli interventi di taglio boschivo e della
		pianificazione forestale. Sono gestite dalla PAF tutte le istanze
		forestali:</p>
	<p style="line-height: 150%; margin-bottom: 0.28cm">comunicazione di
		taglio boschivo, diradamento, conversione di forma di governo,
		progetti di taglio boschivo, piani di assestamento forestale e
		qualsiasi altra istanza in cui sia progettato o richiesto il taglio
		di soprassuoli forestali.</p>
	<p style="line-height: 150%; margin-bottom: 0.28cm">Gli utenti della
		PAF sono i proprietari/gestori forestali, i liberi professionisti, le
		forze dell’ordine, la pubblica amministrazione e gli altri enti
		coinvolti nel rilascio di nulla osta.</p>
	<p style="line-height: 150%; margin-bottom: 0.28cm">La PAF è uno dei
		risultati di LIFE FOLIAGE<b> (https://www.lifefoliage.eu)</b>,
		progetto cofinanziato dall’Unione</p>
	<p style="line-height: 150%; margin-bottom: 0.28cm"><span lang="de-DE">Europea
			(LIFE19 GIE/IT/000311).</span></p>
	<p lang="de-DE" style="line-height: 150%; margin-bottom: 0.28cm"><br />
		<br />

	</p>
	<p style="line-height: 150%; margin-bottom: 0.28cm"><span lang="de-DE">PAF
			(or FMP -Forest Management Platform-) is a result of the LIFE FOLIAGE
			project. FOLIAGE has received funding from the European Union under
			grant agreement LIFE19 GIE/IT/000311.</span></p>
	<p lang="de-DE" style="line-height: 150%; margin-bottom: 0.28cm; border: none; padding: 0cm">
		<br />
		<br />

	</p>
	<p lang="de-DE" style="line-height: 150%; margin-bottom: 0.28cm; border: none; padding: 0cm">
		<br />
		<br />

	</p>
</div>