<style>


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
.form-text.text-muted {
    display: none;
}

</style>

<!-- <iframe
	width="100%"
	height="100%"

  title="Dichiarazione di accessibilità"
  src="https://form.agid.gov.it/view/aa21daf0-322c-11ef-afbe-c11ba942711d"></iframe> -->

<!-- <div class="content container">
	<div _ngcontent-mux-c60="" role="main" aria-label="titolo">
		<h1 _ngcontent-mux-c60="" aria-label="Governo Italiano - Presidenza del Consiglio dei Ministri">Governo Italiano
			- Presidenza del Consiglio dei Ministri</h1>
	</div>
	<p _ngcontent-mux-c60="" role="dialog" class="ng-star-inserted">Redatta il 22/9/2023</p>
	<h2 _ngcontent-mux-c60="" role="region" title="Dichiarazione di accessibilità"
		class="font-heading-xl mb-1 ng-star-inserted"><strong _ngcontent-mux-c60=""> Dichiarazione di accessibilità
		</strong></h2>
	<p _ngcontent-mux-c60="" role="dialog" class="font-body-md mb-3 ng-star-inserted" ><strong>Presidenza del Consiglio dei Ministri</strong> si impegna a rendere <strong>il proprio sito web</strong> accessibile, conformemente al D.lgs 10 agosto 2018, n. 106 che ha recepito la direttiva UE 2016/2102 del Parlamento europeo e del Consiglio.</p>
	<p _ngcontent-mux-c60="" role="dialog" class="font-body-md ng-star-inserted">La presente dichiarazione di
		accessibilità si applica a “<strong>Governo Italiano - Presidenza del Consiglio dei Ministri</strong>”.</p><a
		_ngcontent-mux-c60="" role="region" title="Il link si apre in una nuova finestra" target="_blank"
		href="https://www.governo.it/" aria-label="https://www.governo.it/"
		class="ng-star-inserted">https://www.governo.it/</a>
	<hr _ngcontent-mux-c60="" class="my-5">
	<div role="form" aria-label="Content">
		<div>
			<div ref="component" class="formio-component formio-component-form  formio-component-label-hidden"
				id="elvadxi">
				<div novalidate="" ref="webform" class="formio-form formio-read-only">
					<div ref="component"
						class="formio-component formio-component-content formio-component-section-0 hide-in-render"
						id="e93ehua">
						<div ref="html" class="">
							<p>Prima di compilare una nuova dichiarazione di accessibilità verifica che questa
								non sia già presente nell'elenco già pubblicato.</p>
						</div>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-information"
						id="erajf3y">
						<fieldset>
							<div ref="nested-information" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-device-type  required"
									id="ezp8ee">
									<label id="l-ezp8ee-device-type" for="ezp8ee-device-type"
										class="col-form-label  field-required" ref="label">
										Oggetto della dichiarazione
									</label>
									<div ref="value">
										sito web
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textfield formio-component-website-name  required"
									id="e89s4tb">
									<label id="l-e89s4tb-website-name" for="e89s4tb-website-name"
										class="col-form-label  field-required" ref="label">
										Nome del sito
									</label>
									<div ref="element">
										<div ref="value">Governo Italiano - Presidenza del Consiglio dei
											Ministri</div>
									</div>
									<div class="form-text text-muted" id="d-e89s4tb-website-name">inserisci il
										nome del sito web</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-url formio-component-website-url  required"
									id="eksmuql">
									<label id="l-eksmuql-website-url" for="eksmuql-website-url"
										class="col-form-label  field-required" ref="label">
										URL del sito
									</label>
									<div ref="element">
										<div ref="value">https://www.governo.it/</div>
									</div>
									<div class="form-text text-muted" id="d-eksmuql-website-url">inserisci
										l'indirizzo completo, comprensivo di http o https (es.
										https://example.com)</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textfield formio-component-app-name  required formio-hidden"
									id="eyf8avw">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-url formio-component-app-url  required formio-hidden"
									id="eymyu2q">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-specs-version  required"
									id="eq2rn7p">
									<label id="l-eq2rn7p-specs-version" for="eq2rn7p-specs-version"
										class="col-form-label  field-required" ref="label">
										Specifiche tecniche di riferimento utilizzate
									</label>
									<div ref="value">
										WCAG 2.1
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="formio-component formio-component-content formio-component-section-1 mb-3"
						id="enb6j9">
						<div ref="html" class="">
							<h3><strong>Sezione 1</strong></h3>
							<p>Contenuti in ottemperanza alla Decisione di esecuzione UE 2018/1523.</p>
						</div>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-content-compliance"
						id="eowzaa4">
						<fieldset>
							<div ref="nested-content-compliance" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-compliance-status  required"
									id="eu6iqpe">
									<label id="l-eu6iqpe-compliance-status" for="eu6iqpe-compliance-status"
										class="col-form-label  field-required" ref="label">
										Stato di conformità
									</label>
									<div ref="value">
										parzialmente conforme
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-content-not-accessible"
						id="eyrgfhb">
						<fieldset>
							<legend class="" ref="header">
								Contenuti non accessibili
							</legend>
							<div ref="nested-content-not-accessible" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-checkbox formio-component-reason-42004"
									id="eaydy3t">
									<label class="">
										<span>inosservanza della legge 4/2004</span>
									</label>
									<div ref="value">Si</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textarea formio-component-reason-42004-text  required"
									id="et8ky57">
									<label id="l-et8ky57-reason-42004-text" for="et8ky57-reason-42004-text"
										class="col-form-label  field-required" ref="label">
										Sezioni, contenuti e funzioni non conformi
									</label>
									<div ref="element">
										<div ref="value">
											<p>
												Homepage<br/>
												Presenti immagini prive di attributo alt<br/>
												Non è stata determinata programmaticamente la corretta sequenza di lettura in modalità di navigazione tramite tastiera / screen reader nella prima sezione della pagina).<br/>
												La prima sezione della pagina è gestita con un componente tab non impostato in modo corretto a livello semantico, che non ha attributi WAI-ARIA<br/>
											</p>
											<p>
												Livello generale<br/>
												Non tutte le indicazioni di presentazione visuale sono codificate su
												file CSS esterni;
												È stato utilizzato tag &lt;b&gt; per il nome dei social, andrebbe
													utilizzato un tag &lt;strong&gt;.
											</p>
											<p>
												Livello generale: Footer<br/>
												Non è stata rispettata l’organizzazione gerarchica delle intestazioni.
											</p>
											<p>
												Il Governo, Presidenza del Consiglio dei ministri<br/>
												Non è stata rispettata l’organizzazione gerarchica delle
												intestazioni.
											</p>
											<p>
												I Ministeri<br/>
												Non è stata rispettata l’organizzazione gerarchica delle
												intestazioni.
											</p>
											<p>
												Contatti<br/>
												Sono presenti elementi con ID non univoci.
											</p>
											<p>
												Contatti, il Governo, Presidenza del Consiglio dei ministri<br/>
												La pagina contiene due o più punti di riferimento non distinguibili dello stesso tipo (&lt;nav&gt;) che non sono stati nominati con attributi WAI-ARIA.
											</p>
													
											<p>
												Livello generale: pagine interne<br/>
												Sono presenti collegamenti ipertestuali identificati solamente dal colore.<br/>
												Nella pagina sono presenti blocchi di testo dove il colore è l’unica caratteristica distintiva dei collegamenti.<br/>
												Il rapporto di contrasto del colore tra il testo del collegamento e il testo circostante deve essere almeno 3:1.<br/>
												Il colore non dovrebbe essere l’unico segnale visivo (sottolineare il collegamento o renderlo in grassetto).<br/>
												Questo vale per i collegamenti che sono circondati da altro testo, e non per le liste di link o menu di navigazione.
											</p>
										</div>
									</div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-checkbox formio-component-reason-disproportionate-burden"
									id="eijaq1">
									<label class="">
										<span>onere sproporzionato</span>
									</label>
									<div ref="value">No</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textarea formio-component-reason-disproportionate-burden-text  required formio-hidden"
									id="e1p7wlt">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-checkbox formio-component-reason-no-law"
									id="e14m0am">
									<label class="">
										<span>il contenuto non rientra nell'ambito della legislazione
											applicabile</span>
									</label>
									<div ref="value">No</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textarea formio-component-reason-no-law-text  required formio-hidden"
									id="ezs1pde">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textarea formio-component-accessible-alternatives"
									id="eht5gwf">
									<label id="l-eht5gwf-accessible-alternatives"
										for="eht5gwf-accessible-alternatives" class="col-form-label"
										ref="label">
										Alternative accessibili
									</label>
									<div ref="element">
										<div ref="value">-</div>
									</div>
									<div class="form-text text-muted" id="d-eht5gwf-accessible-alternatives">
										elencare le sezioni i contenuti o le funzioni che presentano alternative
										accessibili (massimo 2000 caratteri)</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-content-methodology"
						id="emmvqf">
						<fieldset>
							<legend class="" ref="header">
								Redazione della dichiarazione di accessibilità
							</legend>
							<div ref="nested-content-methodology" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-methodology-details  required"
									id="e3th5l">
									<label id="l-e3th5l-methodology-details" for="e3th5l-methodology-details"
										class="col-form-label  field-required" ref="label">
										Selezionare il metodo utilizzato per redigere la dichiarazione di
										accessibilità
									</label>
									<div ref="value">
										valutazione effettuata da terzi
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-methodology-model  required"
									id="e57qc6b">
									<label id="l-e57qc6b-methodology-model" for="e57qc6b-methodology-model"
										class="col-form-label  field-required" ref="label">
										L’analisi è stata effettuata utilizzando il modello di autovalutazione
										AGID ?
									</label>
									<div ref="value">
										Si
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-content-methodology1"
						id="e2i6ry">
						<fieldset>
							<legend class="" ref="header">
								Feedback e recapiti
							</legend>
							<div ref="nested-content-methodology1" class="fieldset-body">
								<div ref="component"
									class="formio-component formio-component-htmlelement formio-component-html"
									id="e94dyc">
									<p ref="html" class="">Indicare come notificare al soggetto erogatore i casi
										di mancata conformità ai requisiti di accessibilità, o come richiedere
										informazioni e contenuti che siano stati esclusi dall'ambito di
										applicazione della direttiva.</p>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textarea formio-component-feedback  required"
									id="ex0pm7e">
									<label id="l-ex0pm7e-feedback" for="ex0pm7e-feedback"
										class="col-form-label  field-required" ref="label">
										Meccanismo di feedback
									</label>
									<div ref="element">
										<div ref="value">Mail, accessibile&amp;governo.it, presente all’interno
											della pagina “Dichiarazione di accessibilità”
											(https://www.governo.it/it/dichiarazioneaccessibilita )</div>
									</div>
									<div class="form-text text-muted" id="d-ex0pm7e-feedback">Descrivi il
										meccanismo di feedback, e relativo link, che hai predisposto. (max 2000
										caratteri)</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-url formio-component-feedback-url  required formio-hidden"
									id="ena8cka">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-url formio-component-feedback-url1  required"
									id="edwu2kx">
									<label id="l-edwu2kx-feedback-url1" for="edwu2kx-feedback-url1"
										class="col-form-label  field-required" ref="label">
										Link al meccanismo di feedback
									</label>
									<div ref="element">
										<div ref="value"><a title="Il link si apre in una nuova finestra"
												aria-label="Link al meccanismo di feedback" role="link"
												target="_blank"
												href="https://www.governo.it/it/dichiarazioneaccessibilita">Link
												al meccanismo di feedback</a></div>
									</div>
									<div class="form-text text-muted" id="d-edwu2kx-feedback-url1">inserisci la
										URL alla pagina di feedback</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-email formio-component-manager-email  required"
									id="e0x18b">
									<label id="l-e0x18b-manager-email" for="e0x18b-manager-email"
										class="col-form-label  field-required" ref="label">
										Email della persona responsabile dell'accessibilità (RTD)
									</label>
									<div ref="element">
										<div ref="value">m.melchionda&amp;governo.it</div>
									</div>
									<div class="form-text text-muted" id="d-e0x18b-manager-email">(ai sensi
										dell’Art. 17 del CAD)</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-content-methodology2"
						id="e3iak1p">
						<fieldset>
							<legend class="" ref="header">
								Procedura di attuazione
							</legend>
							<div ref="nested-content-methodology2" class="fieldset-body">
								<div ref="component"
									class="formio-component formio-component-htmlelement formio-component-html1"
									id="eehdqn9">
									<p ref="html" class="">Procedura di attuazione ai sensi dell’art.
										3-quinquies, comma 3, L. 9 gennaio 2004, n. 4 s.m.i..</p>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="formio-component formio-component-htmlelement formio-component-html2"
									id="eev8vqg">
									<p ref="html" class="">L’utente può inviare la segnalazione al Difensore
										civico per il digitale, istituito ai sensi dell’art. 17 comma 1-quater
										CAD, esclusivamente a seguito di risposta insoddisfacente o mancata
										risposta al feedback notificato al soggetto erogatore.</p>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-url formio-component-segnalazioneAlDifensoreCivicoPerIlDigitaleUrlGenerato"
									id="eaywxps">
									<label id="l-eaywxps-segnalazioneAlDifensoreCivicoPerIlDigitaleUrlGenerato"
										for="eaywxps-segnalazioneAlDifensoreCivicoPerIlDigitaleUrlGenerato"
										class="col-form-label" ref="label">
										Segnalazione al difensore civico per il digitale
									</label>
									<div ref="element">
										<div ref="value"><a title="Il link si apre in una nuova finestra"
												aria-label="Segnalazione al difensore civico per il digitale"
												role="link" target="_blank"
												href="https://form.agid.gov.it/form/procedura-attuazione/dcfc1442-d1b7-4e47-8089-75b496773a9e">Segnalazione
												al difensore civico per il digitale</a></div>
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="formio-component formio-component-content formio-component-section-2"
						id="e6b5z82">
						<div ref="html" class="">
							<h3><strong>Sezione 2</strong></h3>
							<p>Informazioni richieste da AGID</p>
						</div>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-application-information"
						id="eikpqsa">
						<fieldset>
							<legend class="" ref="header">
								informazioni sul sito / app
							</legend>
							<div ref="nested-application-information" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-datetime formio-component-application-published-date  required"
									id="ewu5ovs">
									<label id="l-ewu5ovs-application-published-date"
										for="ewu5ovs-application-published-date"
										class="col-form-label  field-required" ref="label">
										Data della pubblicazione del sito o applicazione mobile
									</label>
									<div ref="element">
										<div ref="value">2015-11-21</div>
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-application-usability-test  required"
									id="et30d4e">
									<label id="l-et30d4e-application-usability-test"
										for="et30d4e-application-usability-test"
										class="col-form-label  field-required" ref="label">
										Sono stati effettuati test di usabilità?
									</label>
									<div ref="value">
										Si
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-select formio-component-website-cms  required"
									id="e6dudszh">
									<label id="l-e6dudszh-website-cms" for="e6dudszh-website-cms"
										class="col-form-label  field-required" ref="label">
										Content Management System (CMS) utilizzato
									</label>
									<div ref="value"><span>Drupal</span></div>
									<div class="form-text text-muted" id="d-e6dudszh-website-cms">seleziona il
										sistema utilizzato per la gestione dei contenuti, se presente.</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textfield formio-component-website-cms-other  required formio-hidden"
									id="eylnt5">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-select formio-component-application-framework  required formio-hidden"
									id="e1notn5">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-textfield formio-component-application-framework-other  required formio-hidden"
									id="eys2zs8">
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-application-os  required formio-hidden"
									id="eec6q3">
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-application-org"
						id="e7l2ovp">
						<fieldset>
							<legend class="" ref="header">
								informazioni sulla struttura
							</legend>
							<div ref="nested-application-org" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-number formio-component-people-disabled  required"
									id="e5cvstf">
									<label id="l-e5cvstf-people-disabled" for="e5cvstf-people-disabled"
										class="col-form-label  field-required" ref="label">
										Numero di dipendenti con disabilità presenti nell'amministrazione
										<span class="sr-only">, numeric only,</span>
									</label>
									<div ref="element">
										<div ref="value">157</div>
									</div>
									<div class="form-text text-muted" id="d-e5cvstf-people-disabled">indicare il
										numero</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-number formio-component-people-desk-disabled  required"
									id="e3hzuk">
									<label id="l-e3hzuk-people-desk-disabled" for="e3hzuk-people-desk-disabled"
										class="col-form-label  field-required" ref="label">
										Numero di postazioni di lavoro per dipendenti con disabilità
										<span class="sr-only">, numeric only,</span>
									</label>
									<div ref="element">
										<div ref="value">157</div>
									</div>
									<div class="form-text text-muted" id="d-e3hzuk-people-desk-disabled">
										indicare il numero</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-number formio-component-people-expenditure"
									id="ea65oe9">
									<label id="l-ea65oe9-people-expenditure" for="ea65oe9-people-expenditure"
										class="col-form-label" ref="label">
										La percentuale di spesa prevista nel piano di bilancio di previsione in
										materia di accessibilità
										<span class="sr-only">, numeric only,</span>
									</label>
									<div ref="element">
										<div ref="value">-</div>
									</div>
									<div class="form-text text-muted" id="d-ea65oe9-people-expenditure">indicare
										in percentuale, solo valori interi</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
					<div ref="component"
						class="form-group formio-component formio-component-fieldset formio-component-application-manager"
						id="e5xvp06">
						<fieldset>
							<legend class="" ref="header">
								Il responsabile dei processi di inserimento
							</legend>
							<div ref="nested-application-manager" class="fieldset-body">
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-manager-present  required"
									id="eollqu">
									<label id="l-eollqu-manager-present" for="eollqu-manager-present"
										class="col-form-label  field-required" ref="label">
										È previsto nella struttura
									</label>
									<div ref="value">
										Si
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
								<div ref="component"
									class="form-group has-feedback formio-component formio-component-radio formio-component-manager-appointed  required"
									id="e9q1rp">
									<label id="l-e9q1rp-manager-appointed" for="e9q1rp-manager-appointed"
										class="col-form-label  field-required" ref="label">
										È stato nominato dal soggetto erogatore
									</label>
									<div ref="value">
										Si
									</div>
									<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
								</div>
							</div>
						</fieldset>
						<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
					</div>
				</div>
				<div class="formio-errors invalid-feedback" ref="messageContainer"></div>
			</div>
		</div>
	</div>
</div> -->
