pre, pre.highlight {
  background-color: #f2f2f2;
  padding: 1em;
}



body { min-height: 100vh; }
.col-form-label {
  font-weight: bold;
}
.debug {
  border-style: inset;
}
div .card {
    background-color: unset;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    text-decoration: underline;
  cursor: pointer;
}
.formio-component {
    margin-bottom: 1rem!important;
}
.ref-elemento {
    float: right;
    font-size: x-small;
    font-style: oblique;
}
.bi-remove-circle::before {
    content: "\f623";
}

.bi-remove::before {
    content: "\f5DE";
}
.bi-edit::before {
    content: "\F4CA";
}
.table>:not(caption)>*>* {
  background-color: unset;
}
.sr-only {
  display: none;
}
.editgrid-table-container {
  max-width: unset;
}
.formio-dialog-content {
  top: 100px;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  color: unset;
}
.formio-hidden {
  margin-bottom: 0px!important;
}
.table>:not(caption)>*>* {
  padding: .25rem .25rem;/*
  color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));*/
}
.ol-compassctrl.map-compass {
  top: -5px;
  right: 0px;
  width: 50px;
  height: 50px;
}
input[type='file'][tabindex='-1'] {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
  appearance: textfield;
}
.form-control::placeholder {
  color: var(--bs-secondary-color);
  opacity: 0.5;
}