<div style="padding: 20px;">
	<p>
		La Piattaforma di Rilievo e Informazione Forestale (PRIF) è una APP Mobile sviluppata per sistemi Android. Il suo scopo principale è effettuare rilevamenti in campo come supporto per le attività della PAF.
	</p>
	<p>
		l'APP consente di eseguire rilievi in campo specificando elementi spaziali come punti, linee e poligoni ad una determinata istanza di taglio in lavorazione, con la possibilità di associare fotografie, note testuali e categoria di rilievo.
	</p>
	<p>
		Al seguente link è disponibile il file APK di installazione di PRIF:
	</p>
	
	
	<div style="width: 100%; display: flex; justify-content: center;">
		<a [href]="urlPrifApk">Download PRIF v.1.0.0</a>
	</div>	
</div>


